.works {
    padding: 1.5rem;
    display: flex;
    height : 90vh;
    margin-top: 4rem;

}
/* right side */
.n-right{
    position :relative;

}
.n-mainCircle{
    left : 9rem;
    position : relative ;
    
    width : 18rem;
    height :18rem;
    border-radius: 100%;
    box-shadow : var(--smboxShadow);
    top:-4rem ;
    background:white;
}
.n-mainCircle>*{
    position:absolute;
}
.n-mainCircle>:nth-child(1){
    top: -3rem ;
    left : 6rem;
}
.n-mainCircle>:nth-child(2){
    left: -3rem ;
    top : 5rem;
}
.n-mainCircle>:nth-child(3){
    top: 5rem ;
    left : 6rem;
}
.n-mainCircle>:nth-child(4){
    top: 5rem ;
    left : 15rem;
}
.n-mainCircle>:nth-child(5){
    top: 13rem ;
    left : 6rem;
}
.n-secCircle{
    width: 6rem;
    height: 6rem;
    position: absolute;
    border-radius : 100%;
    border: 5px solid #ebebeb;
    display : flex;
    align-items: center;
    justify-content : center;
    background: "none";
    box-shadow : var(--smboxShadow);
    background: white;
    }
    .n-secCircle>img{
        transform : scale(0.6);
            }
    .n-backCircle{
        position: absolute;
        height: 13rem;
        width: 13rem;
        border-radius: 100%;
        z-index: -1;
            }
    .blueCircle{
        background: #194988;
        left: 18rem;
        top: 0rem;
    }
    .yellowCircle{
        background : #f5C32C;
        left: 18rem;
        top:8rem;

    }
@media screen and (max-width:480px){
    .works{
        display: flex;
        flex-direction:column;

    }
    .n-mainCircle{
        top:3rem;
        left:-2.75rem;
    }
}
